# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA specific
.idea/.name
.idea/bashsupport_project.xml
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/highlighting.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules/
.idea/modules.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/scala_settings.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml

